@charset "utf-8";body{position:relative;margin:0;padding:0;background:#ddd;color:#333;font-size:12px;font-family:"Helvetica Neue",Helvetica,STHeiTi,sans-serif;}
li,ul{list-style:none;}
article,aside,dd,dl,dt,figcaption,figure,footer,h1,h2,h3,h4,h5,header,img,input,li,menu,nav,p,section,ul{margin:0;padding:0;border:0;}
form{margin:0;padding:0;}
a{color:#333;text-decoration:none;cursor:pointer;}
a:hover{color:#88b000;}
del{color:#666;}
.yellow{color:#ff0;}
.f16{font-size:16px;}
.table{overflow:hidden;border:1px solid #ccc;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 0 1px rgba(0,0,0,.5);-moz-box-shadow:0 0 1px rgba(0,0,0,.5);}
.clearfix:after{clear:both;display:block;visibility:hidden;height:0;content:"\020";}
.clearfix{zoom:1;}
.p15{padding:15px;}
.borderline{border-bottom:1px solid #ccc;background:#ccc;}
.normal th{font-weight:400!important;}
.clear{clear:both;overflow:hidden;width:100%;height:0;content:" ";}
.bgcolor{position:relative;overflow:hidden;margin:0 auto;max-width:768px;min-width:320px;background:#eee;}
.float-left,.left{float:left;}
.float-right,.right{float:right;}
.clear-box{height:20px;line-height:20px;}
.button{display:inline-block;margin:0 auto;padding:0 20px;height:2.5em;border-radius:.5em;color:#fff;font-weight:700;font-size:2em;line-height:2.5em;cursor:pointer;}
.button:hover{color:#fff;}
.spacing{height:3em;background:#ddd;line-height:3em;}
.green-color{color:#88b000;}
.a-btn{position:absolute;display:block;padding:0 .8em;font-size:1.5em;}
.a-btn:hover{color:#88b000;}
.a-block a{display:block!important;}
.radius-btn{display:inline-block;width:2.2em;height:2.2em;border:1px solid #ccc;border-radius:2.5em;text-align:center;font-size:3.3em;line-height:2.2em;}
.green-btn{border:0;background:#88b000;color:#fff;}
.green-btn:hover{background:#9ec127;color:#fff;}
.grey-btn{border:0;background:#666;color:#fff;}
.grey-btn:hover{background:#888;color:#fff;}
.grey-bg,.loding-bg{position:fixed;top:0;left:0;z-index:600;display:none;width:100%;height:100%;background-color:#333;text-align:center;opacity:.5;filter:alpha(opacity=50);}
.loding-bg{z-index:2000;}
.grey-bg-z{position:fixed;top:0;left:0;z-index:1500;display:none;width:100%;height:100%;background-color:#333;opacity:.5;filter:alpha(opacity=50);}
.long-btn{display:inline-block;width:100%;height:2.5em;border-radius:.5em;color:#fff;text-align:center;font-weight:700;font-size:2em;line-height:2.5em;}
.min-btn{display:inline-block;padding:.5em 1em;height:2em;border-radius:.5em;color:#fff;text-align:center;font-weight:700;font-size:1.5em;line-height:2em;}
.lh0{line-height:inherit;}
.orange-bg{background:#f60!important;color:#fff!important;}
.clickbg:hover{background:#f60!important;}
.orange{color:#ff9c00;}
.orange-bg:hover{background:#ff7c25;color:#fff;}
.grey-bg-btn{background:#969696;color:#fff;}
.grey{color:#666;}
.grey-bg-btn:hover{background:#a5a5a5;color:#fff;}
.red-bg{background:#ee395a!important;color:#fff!important;}
.red-color{color:#fc747c!important;}
.right-a{position:absolute;right:.8em;font-size:1.4em;}
.redborder{border-color:#ff4846!important;}
.greenborder{border-color:#38a72d!important;}
.formtips{color:#ff4846;line-height:1.5em;}
.icon-time{font-size:1.2em;}
.m-b10{margin-bottom:.6em;}
.m-b20{margin-bottom:20px;}
.m-l20{margin-left:20px;}
.font20{font-size:2em;}
.m-t20{margin-top:20px;}
.blue{color:#1792cd;}
.p10{padding:10px;}
.p_b0{padding-bottom:0;}
.a_block a{display:block!important;}
.f24{font-size:24px;}
.p_20{padding:20px;}
.error_bg{background:#ffb8b8!important;color:#e20606!important;}
.success{background:#e1ffe5!important;color:#0fd52b;}
input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:none;}
textarea{-webkit-appearance:none;}
.top-bg{position:fixed;right:.5em;bottom:.5em;z-index:1200;display:block;width:1.6em;height:1.6em;border:0;background:#88b000;color:#fff;font-size:3em;line-height:1.6em;}
.fix-cart{position:fixed;bottom:.5em;left:.5em;z-index:1200;display:block;width:1.6em;height:1.6em;border:0;background:#88b000;color:#fff;font-size:3em;line-height:1.6em;}
.fix-cart:hover,.top-bg:hover{background:#90b60f;color:#fff;}
.fix-down{position:absolute;bottom:0;width:100%;}
.text-r{text-align:right;}
.text-c{text-align:center;}
.error{color:#dd0200!important;}
.font20{font-size:2em;}
header{padding:10px 20px;border-bottom:1px solid #a9a9a9;background:#fff;}
header .menu{float:right;}
header .menu .active{color:#88b000!important;}
header .menu a{display:inline-block;margin-left:.5em;width:1.5em;height:1.8em;color:#666;text-align:center;font-size:2.9em;line-height:1.8em;}
header .menu1{float:right;}
header .a-img{display:inline-block;margin-left:.5em;width:1.5em;height:1.8em;text-align:center;font-size:2.9em;line-height:1.8em;}
header .menu2 .logo{float:left;margin-left:29%;}
header .icon-search{position:relative;top:-5px;font-size:2.7em!important;}
header .icon-shopping-cart{position:relative;}
header .icon-shopping-cart span{position:absolute;top:-15px;color:#c20000;font-weight:700;font-size:14px;}
.query-input .icon-search{top:0;float:left;margin-top:5px;}
.banner{position:relative;z-index:100;}
.banner img{position:relative;z-index:100;width:100%;min-height:100px;}
.swipe{position:relative;visibility:hidden;overflow:hidden;}
.swipe-wrap{position:relative;overflow:hidden;}
.swipe-wrap>figure{position:relative;float:left;width:100%;}
.position{position:absolute;bottom:10px;z-index:100;margin-top:-7%;width:100%;max-width:768px;text-align:center;}
.position i{display:inline-block;margin:0 1%;width:8px;height:8px;border-radius:8px;background:#ddd;cursor:pointer;}
.position i.on{background:#b7d200;}
.product-bg{background:#fff;}
.product-img{position:relative;margin:0 auto;margin-top:1em;max-width:450px;}
.product-img img{overflow:hidden;width:100%;max-width:450px;min-width:100px;min-height:80px;}
.nav{border-right:.8em solid #eee;border-left:.8em solid #eee;}
.nav span{display:block;padding-top:10px;height:60px;border-right:.2em solid #eee;}
.nav a{float:left;display:block;overflow:hidden;width:25%;background:#fff;color:#fff;text-align:center;font-size:1.5em;}
.nav .bg-bule{background:#3d9bff;}
.nav .bg-green{background:#74c044;}
.nav .bg-orange{background:#eaa97a;}
.nav .bg-red{background:#ed3980;}
.nav a:nth-child(4n) span{border-right:0;}
.nav i{font-size:1.5em;}
.fixed-btn a{float:left;display:block;width:50%;height:3em;border-bottom:1px solid #fff;color:#fff;text-align:center;font-weight:700;font-size:20px;line-height:3em;}
.fixed-btn a:nth-child(2n) span{border-right:0;}
.product-change{position:relative;z-index:601;display:block;margin-bottom:.8em;background:#fff;}
.product-change a{display:inline-block;padding:1em;font-size:1.5em;}
.product-change .sortby .by-info{margin-left:.5em;color:#666;font-size:.8em;coloaddcartr:#666;}
.product-change .sortby-list{position:absolute;left:0;z-index:611;background:#fff;font-size:1.5em;}
.product-change .sortby-list li{min-width:320px;border-bottom:1px solid #ccc;}
.product-change .active a{color:#8bba30;}
.filter{position:absolute;right:.7em;padding-top:.4em;padding-left:1em;font-size:2.5em!important;cursor:pointer;}
.order-filter{position:absolute;right:.7em;padding-left:1em;font-size:1.5em;cursor:pointer;}
.icon-align-left{top:.2em;font-size:1.4em!important;}
.product{padding:.8em;background:#eee;}
.product .stars{display:none;}
.product .addcart{display:none;}
.product .addcart .del{margin-right:.2em;}
.product .title{padding:.5em 0 .5em 1em;min-height:30px;border-top-right-radius:5px;border-top-left-radius:5px;background:#fff;font-size:2em;line-height:30px;}
.product .sort-tit{position:relative;top:.5em;display:inline-block;}
.product .round-btn{display:inline-block;margin-left:1.5em;width:2.2em;height:2.2em;border:1px solid #ccc;border-radius:2.5em;background:#f1f1f1;text-align:center;font-size:1.3em;line-height:2.2em;}
.product .con-box{border-top:.2em solid #ededed;background:#fff;text-align:left;}
.product .product-img{height:10rem;max-width:10rem;text-align:center;}
.product .product-img img{display:inline-block;overflow:hidden;width:100%;max-width:207px;}
.product .con-box .product-title{display:-webkit-box;overflow:hidden;margin:5px 0;height:2.4em;font-size:1.5em;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.product .con-box .product-cost b{padding-left:.8em;color:#c20000;font-size:2em;}
.product .con-box .product-cost del{margin-left:10px;color:#777;font-size:1.3em;}
.product .con-box li{float:left;width:50%;border-bottom:.2em solid #ededed;}
.product .con-box li a{display:block;padding:1em;border-right:.2em solid #ededed;}
.product .con-box li:nth-child(2n) a{border-right:0;}
.product .list-css li{width:100%;}
.product .list-css .product-img{float:left;}
.product .list-css .stars{display:block;padding-top:.5em;}
.product .list-css .addcart{position:relative;z-index:50;display:block;margin-top:10px;padding-right:1em;text-align:right;}
.product .list-css .addcart span{cursor:pointer;}
.product .list-css li a:first-child{overflow:hidden;padding:.5em;width:100%;}
.product .list-css li .product-img a{border:0;}
.product .list-css li .product-img{margin:5px 10px;}
.star{position:relative;top:-3px;display:inline-block!important;overflow:hidden;margin-right:5px;background:url(../images/public/star.png) no-repeat;vertical-align:middle;}
.star-s0,.star-s1,.star-s2,.star-s3,.star-s4,.star-s5{width:100px;height:20px;}
.star-s5{background-position:0 -58px;}
.star-s4{background-position:-18px -58px;}
.star-s3{background-position:-38px -58px;}
.star-s2{background-position:-58px -58px;}
.star-s1{background-position:-78px -58px;}
.star-s0{background-position:-98px -58px;}
.cursor-star span{display:inline-block;overflow:hidden;width:18px;height:20px;border:1px solid #fff;cursor:pointer;}
.form-star{padding-top:1em;}
.select{padding-left:.5em;width:25%;height:2.8em;border:1px solid #ddd;border-radius:3px;color:#656565;line-height:2.8em;}
footer{margin:0 auto;max-width:768px;border-top:1px solid #ddd;background:#fff;}
footer .foot-link{padding:.8em;text-align:center;font-size:1.8em;line-height:1.5em;}
footer .foot-link a{display:inline-block;margin-right:1em;color:#656565;text-align:center;}
footer .copyright{height:4em;border-top:1px solid #ddd;color:#a9a9a9;text-align:center;font-size:1.7em;line-height:4em;}
.language{margin:.8em;color:#656565;font-size:1.8em;}
.language a{margin-right:1em;color:#656565;}
.categories-list{border-top:1px solid #ccc;background:#fff;font-size:1.5em;}
.categories-list a{display:block;overflow:hidden;padding-left:3em;height:3.5em;border-bottom:1px solid #ccc;text-overflow:ellipsis;white-space:nowrap;line-height:3.5em;}
.categories-tag{display:block;overflow:hidden;margin-bottom:1em;padding-left:2%;width:97.5%;height:3em;border:1px solid #ccc;border-radius:.5em;background:#f7ffe6;font-size:1.08em;line-height:3em;}
.categories-tag:hover{background:#fff;}
.categories-list i{float:right;padding-left:1em;width:4em;height:2em;color:#666;text-align:center;font-size:1.5em;line-height:2.3em;}
.categories-list div{padding:1em 0;padding-left:2%;}
.categories-list .go{margin-left:2%;width:20%;}
.categories-list a:hover{background:#f2ffd9;}
.categories-list .active{background:#f2ffd9;color:#88b000;}
.categories-list .active i{color:#88b000;}
.categories-list .secondary-list{display:none;margin:0;padding:0;}
.categories-list .secondary-list a{display:block;padding-left:3em;border-bottom:1px solid #e6e6e6;border-left:2px solid #52bde9;background:#fafafa;color:#666;}
.categories-list .secondary-list a:last-child{display:block;background:#fafafa;}
.font-blod{font-weight:700;}
.height30{height:50px;background:#eee;line-height:50px;}
.led-title{padding-left:2.6em;height:3.5em;font-weight:700;font-size:1.8em;line-height:3.5em;}
.details-banner{height:150px;background:#7da5c4;color:#fff;text-align:center;font-size:30px;line-height:150px;}
.head-title{position:relative;height:3em;border-bottom:3px solid #ccc;background:#fff;text-align:center;font-weight:700;font-size:2em;line-height:3em;}
.head-title .register{position:absolute;right:10px;overflow:hidden;overflow:hidden;width:30%;height:2em;color:#0090ff;text-overflow:ellipsis;white-space:nowrap;font-weight:400;font-size:1em;}
.left-btn{position:absolute;left:0;display:block;padding:.3em .8em;font-size:1.8em;}
.right-btn{position:absolute;right:0;display:block;padding:.4em .8em;font-size:1.6em;}
.cart-info{padding-top:50px;height:7em;background:#eee;color:#999;text-align:center;font-size:1.5em;}
.cart-info .cartimg{font-size:3em;}
.cart-list{border-top:1px solid #ccc;background:#fff;}
.cart-list .img{float:left;width:30%;}
.cart-list .img img{overflow:auto;width:100%;}
.cart-list .p-info{float:right;width:60%;text-align:left;}
.cart-list .p-info b{display:inline-block;padding:5px 0;color:#c20000;font-size:2.5em;}
.cart-list .p-info .p-tit{color:#333;font-size:1.6em;}
.cart-list .p-heart{float:left;margin-left:.5em;color:#666;font-size:3em;}
.cart-list .p-info .del{float:right;color:#666;font-size:3.5em;}
.cart-list li{padding:2em 1em;border-bottom:1px solid #ccc;}
.login-form{border-bottom:1px solid #ccc;}
.login-form input{padding-left:55px;width:100%;height:60px;outline:0;border-top:1px solid #ccc;font-size:2em;line-height:60px;}
.login-form div{position:relative;}
.login-form i{position:absolute;top:14px;left:15px;float:left;color:#666;font-size:3em;}
.login-box{padding:50px;background:#eee;text-align:center;}
.login-box .forgot{padding:0 20px;border:1px solid #ccc;border-radius:5px;background:#ccc;color:#666;}
.quantity{float:left;display:inline-block;height:40px;border:1px solid #ccc;border-radius:1em;line-height:40px;}
.quantity input{float:left;display:inline-block;width:3em;height:40px;outline:0;text-align:center;font-size:2.3em;}
.quantity a{float:left;display:block;}
.quantity .minus{padding:0 .5em;border-right:1px solid #ccc;font-size:2em;}
.quantity .plus{padding:0 .5em;border-left:1px solid #ccc;font-size:2em;}
.total{overflow:hidden;padding:2%;width:96%;border-bottom:1px solid #ccc;color:#666;font-size:2.5em;}
.total b{float:right;color:#c20000;}
.pop-filter{position:absolute;top:0;left:0;z-index:2101;width:100%;}
.pop-filter .cont{overflow-x:hidden;overflow-y:auto;width:100%;background:#fff;}
.pop-filter .pop-tit{position:relative;height:2.5em;border-bottom:1px solid #ccc;text-align:center;font-weight:700;font-size:2em;line-height:2.5em;}
.pop-filter .btn-box{padding:2em 0;text-align:center;}
.pop-filter .filter-list{position:relative;width:50%;border-right:1px solid #ccc;}
.pop-filter .filter-box{width:100%;}
.pop-filter .filter-list a{overflow:hidden;}
.pop-filter .second-list{position:absolute;top:0;left:100%;z-index:1003;display:none;margin-bottom:4em;border-left:1px solid #ccc;}
.pop-filter .second-list{width:100%;}
.pop-filter .second-list a{width:100%;}
.pop-filter .second-list a:hover{background:0 0;}
.pop-filter .second-list input{margin-right:.51em;width:1.5em;height:1.5em;}
.pop-filter .second-list label{display:block;cursor:pointer;}
.pop-filter .filter-box .second-list li{position:relative;}
.pop-filter .filter-box .second-list .icon-ok{position:absolute;top:1em;right:.5em;}
.pop-filter .checkout-btn{position:absolute;bottom:0;z-index:1111;width:100%;background:#eee;}
.pop-filter .pop-price{z-index:1;}
.filter-number{padding:2em 0;background:#f1f1f1;text-align:center;}
.filter-number input{padding-left:5px;width:30%;height:3em;border:1px solid #ccc;font-size:1.5em;}
.filter-number .spacing{background:#f1f1f1;}
.pop-reviews{z-index:1003;}
.pop-reviews .cont{padding-bottom:2em;}
.pop-reviews b{margin-right:10px;}
.pop-filter.close{display:none;}
.pop-filter.open{display:block;}
.product-info{position:relative;padding:1em;background:#fff;font-size:1.6em;}
.product-info .sku{margin:.5em 0;color:#666;}
.product-info b{color:#c20000;font-size:1.7em;}
.product-info .p-heart{position:absolute;top:1em;right:.5em;bottom:.5em;width:1.5em;height:1.5em;border-radius:1.5em;background:#ccc;color:#fff;text-align:center;font-size:2.5em;line-height:1.7em;}
.tab-box{padding:.8em;background:#eee;}
.change-list .price{float:right;color:#c20000;font-size:1.3em;}
.change-list .t-title{color:#88b000;font-weight:700;}
.change-list b{position:absolute;top:1.05em;left:.5em;}
.tab-active .active{background:#f2ffd9;color:#333;}
.tab-active label{display:block;}
.change-list li:last-child.active{border-bottom-right-radius:1em;border-bottom-left-radius:1em;}
.tab-chagne{width:100%;border-radius:5px;background:#fff;color:#666;}
.tab-box .long-btn{margin-bottom:1em;}
.tab-chagne li{position:relative;padding:1em 2.5em;border-bottom:2px solid #eee;font-size:2em;}
.tab-chagne li:last-child{border-bottom:0;}
.tab-chagne a{display:inline-block;}
.tab-chagne i{position:absolute;right:1em;font-size:1em;}
.tab-chagne .p-info{float:right;width:70%;}
.tab-chagne .p-info .p-t{display:-webkit-box;overflow:hidden;height:2.37em;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.tab-chagne .img{float:left;width:20%;}
.tab-chagne .price-total{color:#c20000;}
.tab-chagne .more-info{position:absolute;top:5px;right:5px;z-index:99;float:right;width:1.5em;height:1.5em;border-radius:1.5em;background:#f1f1f1;color:#666;font-size:1.8em;line-height:1.5em;}
.tab-chagne .more-box{display:none;overflow:hidden;margin-top:1.2em;padding-top:.5em;width:100%;border-top:1px solid #ccc;color:#666;font-size:.8em;}
.tab-chagne .long-btn{margin:1em 0;width:50%;height:3em;font-size:1em;line-height:3em;}
.tab-chagne .more-box .button{float:left;margin-left:2%;padding:0 .8em;width:18%;height:1.8em;text-align:center;font-size:1.3em;line-height:1.8em;}
.tab-box .tab-chagne img{min-width:74px;min-height:74px;}
.form{padding:.8em;background:#eee;}
.form .form-list{position:relative;padding:0 1em 1em 1em;background:#fff;font-size:1.3em;}
.form .form-list li{padding-top:1em;border-bottom:1px solid #eee;}
.form .form-list input{padding-left:1%;width:100%;height:2em;border:1px solid #ccc;font-size:1.6em;}
.form .form-list select{padding-left:1%;width:100%;height:2em;border:1px solid #ccc;font-size:1.6em;}
.form .form-list textarea{font-size:1.6em;}
.form .form-list input:focus{border-color:#0090ff;color:#0090ff;}
.form .form-list li:last-child{border-bottom:0;}
.form .form-list li label{display:block;font-size:1.6em;line-height:2em;}
.form .form-list .form-info{padding:.5em 0;color:#888;font-size:1.2em;}
.form .form-list .form-tit{border-bottom:0;font-size:1.2em;}
.details-content{padding:2em;background:#fff;}
.ul-table-list{font-size:1.6em;}
.ul-table-list li{padding:.5em 0;}
.ul-table-list li:nth-child(odd){background:#f1f1f1;}
.span-info-1{display:inline-block;padding-right:8px;min-width:150px;text-align:right;font-weight:700;}
.tab-title-fixed{position:fixed;top:0;z-index:999;background:#fff;}
.tab-title{width:100%;}
.tab-title .tit-tab{float:left;display:block;width:27%;border-left:1px solid #ccc;text-align:center;font-weight:400;}
.tab-title .active{border-bottom:3px solid #88b000;color:#88b000;}
.details-content .review-tit{margin-bottom:.5em;height:1.5em;text-align:center;font-size:2em;line-height:1.5em;}
.reviews-list{padding-bottom:20px;border-top:1px solid #ccc;font-size:1.5em;}
.reviews-list .appraise{position:absolute;top:.5em;right:0;font-size:2em;}
.reviews-list .good{margin-right:.5em;color:#dc3c3c;}
.reviews-list .bad{color:#ccc;}
.reviews-list img{float:left;margin-right:.5em;}
.reviews-list .re-info{float:left;}
.reviews-list .stat{margin:.2em 0;color:#ff9c00;font-size:1.5em;}
.reviews-list .re-cont{margin-top:.2em;}
.reviews-list li{position:relative;padding:1em 0;border-bottom:1px solid #ccc;}
.reviews-list .date{color:#888;}
.accountbg{position:relative;width:100%;height:140px;border-bottom:2px solid #eee;background:url(../images/public/account.jpg) no-repeat;}
.user-img{position:absolute;top:2em;left:2em;}
.user-name{position:absolute;top:2em;left:6em;color:#333;font-size:2em;}
.foot-btn{padding:2em 1em;background:#eee;}
.account-list{border-top:1px solid #ccc;background:#fff;}
.account-list li{position:relative;padding:1em;border-bottom:1px solid #ccc;font-size:2em;}
.account-list li:hover{background:#f2ffd9;}
.account-list li a{display:block;}
.account-list i{position:absolute;top:.8em;right:.5em;color:#888;font-size:2em;}
.account-list .date{float:right;margin-right:1.2em;color:#666;}
.account-list .order-no{color:#0090ff;}
.deal-time{float:right;margin-right:1.5em;}
.deal-time-big{margin-bottom:.3em;padding-left:.8em;font-size:2em;}
.lodding{display:none;padding:20px 0;text-align:center;}
.lodding .radius-btn{display:inline-block;}
.lodding span{display:inline-block;width:50px;height:50px;background:url(../images/public/lod2.gif) center no-repeat;background-size:80%;line-height:50px;}
.loadend{color:#666;font-weight:700;font-size:2em;}
.lodding .icon-spinner{display:none;}
.checkout_menu{width:100%;height:46px;font-size:2em;line-height:46px;}
.checkout_menu li{float:left;width:50%;background:#ccc;}
.checkout_menu li a{position:relative;display:block;padding-left:12px;color:#666;text-align:center;}
.checkout_menu li.active a{background:#7cba10;color:#fff;font-weight:700;}
.checkout_menu li a::after{position:absolute;top:0;right:-46px;margin-right:2px;width:0;height:0;border:23px solid transparent;border-left:23px solid #d3e6b3;content:"";font-size:0;}
.checkout_menu li.active a::after{margin-right:0;border-left-color:#7cba10;}
.checkout_menu li:last-child a:after{display:none;}
.checkout-btn{border-top:1px solid #ccc;}
.alertinfo{position:fixed;top:30%;left:0;z-index:1510;width:100%;text-align:center;font-size:2em;}
.alertinfo span{display:inline-block;margin:0 1em;padding:1em .8em;border-radius:1em;background:#fff;color:#b7d200;}
.query-page{position:fixed;top:0;left:0;z-index:1001;overflow-y:auto;width:100%;background:#efefef;}
.query-page .query-btn-css{width:18%;}
.query-page .query-btn-css .serch-btn{display:block;width:100%;height:3.1em;line-height:3.1em;}
.query-page .input-bg{padding:.7em;border-bottom:1px solid #ccc;}
.query-page .query-input{position:relative;float:left;width:58%;border:1px solid #ccc;border-bottom:3px solid #ccc;background:#fff;}
.query-page .query-input .query{margin-left:.8em;width:78%;height:1.8em;outline:0;font-size:1.5em;}
.query-page .query-input{padding:5px;height:2.5em;line-height:2.5em;}
.query-page .query-input span{margin-left:10px;color:#ccc;font-size:2em;cursor:pointer;}
.query-page .query-list li{padding:1em;border-bottom:1px solid#ccc;font-size:1.5em;}
.query-page .query-list a{display:block;}
.query-page .local-data h4{padding:1em;border-bottom:1px solid#ccc;font-size:1.5em;}
.all-categories-page{position:absolute;top:0;z-index:2000;overflow-y:auto;width:85%;background:#f2f2f2;font-size:1.8em;-webkit-transition:-webkit-transform .25s ease-out;transition:-webkit-transform .25s ease-out;-webkit-transform:translateX(-100%);transform:translateX(-100%);-ms-transform:translateX(-100%);-ms-transition:-webkit-transform .25s ease-out;}
.all-categories-page.open{-webkit-transform:translateX(0);transform:translateX(0);-ms-transform:translateX(0);}
.all-categories-page .all-login{padding:.7em 0 .7em 0;background:#fff;}
.all-categories-page .all-login a{display:inline-block;margin-right:1em;padding-left:1em;}
.all-categories-page .all-list{border-top:1px solid #ccc;border-top:1px solid #ccc;}
.all-categories-page .all-list select{width:50%;}
.all-categories-page .all-list a{display:block;}
.all-categories-page .all-list span{float:right;display:inline-block;margin-right:1em;color:#7cba10;}
.all-categories-page .all-list li,.all-categories-page .secondary-list li{padding-left:1em;height:3.5em;border-bottom:1px solid #ccc;background:#fff;line-height:3.5em;cursor:pointer;}
.icon-arrow-left{position:absolute;right:.3em;padding:.2em .5em .5em .5em;color:#666;font-size:1.8em;}
.all-categories-page .secondary-list{border-top:1px solid #ccc;}
.all-categories-page h4{padding-left:1em;height:3.5em;border-top:1px solid #ccc;line-height:3.5em;}
.all-categories-page h4 .icon-remove{float:right;padding-top:.5em;padding-right:1em;font-size:1.5em;cursor:pointer;}
.all-categories-page .secondary-list .green-color{background:#faffea;}
.mypoints{margin:.5em;padding:1em;border-radius:5px;background:#fff;color:#333;font-size:1.5em;}
.mypoints p{margin-bottom:1em;line-height:1.5em;}
.mypoints-table{width:100%;height:5em;border-collapse:collapse;border-radius:3px;text-align:center;}
.mypoints-table tr td{border:1px solid #ccc;}
.mypoints-table tr th{width:25%;border:1px solid #ccc;background:#f6f6f6;line-height:2.5em;}
.buy-more{margin-top:1em;}
.confirmation{position:fixed;top:20%;left:50%;z-index:1010;margin-left:-150px;padding:10px;width:280px;border-radius:.5em;background:#fff;text-align:center;font-size:1.5em;}
.confirmation h4{height:3em;line-height:3em;}
.confirmation a{display:inline-block;padding:.8em 0;width:48%;color:#fff;}
.preloader{position:absolute;top:-100px;left:0;z-index:0;width:100%;height:100px;background:rgba(0,0,0,.1);color:#fff;text-align:center;font-size:25px;line-height:100px;opacity:0;-webkit-transition:300ms;-moz-transition:300ms;-o-transition:300ms;transition:300ms;-ms-transition:300ms;}
.preloader.visible{bottom:0;opacity:1;}
.swiper-container{position:relative;z-index:10;width:100%;height:100%;color:#fff;text-align:center;}
.swiper-slide{width:100%;height:100px;line-height:100px;opacity:.2;-webkit-transition:300ms;-moz-transition:300ms;-o-transition:300ms;transition:300ms;-ms-transition:300ms;}
.swiper-slide-visible{opacity:1;}
.swiper-slide .title{font-style:italic;font-size:42px;}
.pending-order li{padding:1em 0;padding-left:2em;border-bottom:1px dashed #ccc;}
.pending-order li span{display:inline-block;padding-right:.5em;width:8em;color:#888;text-align:right;}
.pending-order li span.bulecolor{display:inline;color:#0191cd;}
.pending-order i{float:right;display:inline-block;margin-top:3em;margin-right:1.5em;width:2em;height:2em;}
.pending span{display:inline-block;padding-right:.5em;width:10em;color:#333;text-align:right;font-weight:700;}
.pending{width:100%;border-collapse:collapse;font-size:1.2em;}
.pending td{padding:.3em 0;padding-left:5px;}
.pending tr:nth-child(odd){background:#f1f1f1;}
.title-tab{margin:1em 0;padding-left:1em;height:2.8em;border-top:1px solid #d2d2d2;background:#f5f5f5;font-size:1.2em;line-height:2.8em;}
.title-tab i{float:right;margin-right:1em;width:2em;height:2em;}
.select-check{padding:1em;border:1px solid #ccc;border-radius:5px;background:#fff;}
#edit_billing_address{display:inline-block;padding:.5em 1em;border-radius:5px;background:#ccc;}
.msg-info{padding:1em 0;border-top:1px solid #ddd;border-bottom:1px solid #eee;background:#fff;background:#ddd;text-align:center;font-size:2em;}
.i-btncss i{display:bolck;margin:0;margin-top:.2em;width:3em;height:2em;text-align:center;line-height:2em;}
.login_error{margin:10px;padding:10px;border-radius:10px;background:#ccc;color:red;font-size:18px;line-height:1.5em;}
.desc_block_info img{width:100%;height:auto;}
.desc_block_info{font-size:1.2em;line-height:24px;}
.top-line{margin-top:15px;padding-top:15px;border-top:1px solid #ccc;font-size:12px;}
.pro_desc_block{margin-top:15px;margin-bottom:5px;color:#333;font-weight:700;font-size:16px;}
.red{color:red!important;}
.selected_attr{display:inline-block;margin:.5em;margin-right:15px;padding:.3em .6em;height:24px;border-right:5px solid #68a500;background:#68a500;color:#fff;text-align:center;font-size:1.5em;line-height:24px;}
.selected_attr:hover{color:#fff;}
.selected_attr .icon-remove{margin-left:10px;}
.FAQs-box{padding:10px 0 0;font-size:1.5em;line-height:1.5em;}
.FAQs-box .q{margin-top:.5em;font-weight:700;}
.FAQs-box .q:first-child{margin-top:0;}
.page404{padding:2em;background:#fff;text-align:left;font-size:1.5em;line-height:1.5em;}
.waring{height:auto;color:red;font-size:14px;line-height:30px;}
.content-box{padding:1.5em;background:#fff;font-size:1.5em;line-height:1.5em;}
.error{padding-left:10px;height:auto;background:#ccc;color:#ff4846;font-size:2em;line-height:40px;}
.error-color{color:#ff4846!important;}
#reviews{height:800px;}
.loddingcss{margin-top:20%;}
.mininfo{display:inline-block;margin:15px;line-height:30px;}
.shipping-title{position:relative;padding:1em 2.5em;border-bottom:2px solid #eee;color:#88b000;font-weight:700;font-size:2em;}
.shipping_radio{position:relative;top:-3px;left:-5px;}
.no_address{height:10em;text-align:center;font-size:1.5em;line-height:10em;}
.add_billing_address_from{padding:10px;background:#fff;}
.add_billing_address_from input,.add_billing_address_from select{width:100%;height:2.5em;border:1px solid #eee;text-indent:10px;line-height:2.5em;}
.add_billing_address_from .tit{display:block;margin-top:10px;font-size:14px;}
.add_billing_address_from li.active{background:#fff;}
.add_billing_address_from li{padding:0;border:0;}
.add_billing_address_from .onError{font-size:14px;}
.w70{padding:0;width:70%;}
.text-btn-box{padding:.8em;font-size:1.2em;}
.text-btn-box .btn,.text-btn-box .text{height:3em;line-height:3em;}
.text-btn-box .text{width:70%;text-indent:10px;}
.text-btn-box .btn{width:30%;}
.pro_select_attr{display:inline-block;margin:.4em .4em .4em 0;padding:.7em;height:24px;border:#ccc 1px solid;line-height:24px;cursor:pointer;}
.pro_select_attr:hover{border:red 1px solid;}
.pro_select_attr a{display:inline-block;color:#333!important;}
.pro_select_attr a:hover{color:#333!important;}
.pro_attr_selected{border:red 1px solid;}
.product-info .span-label,.product-info label{display:block;padding-top:.8em;}
.product-operation select{margin:.5em 0;padding:2%;width:96%;font-size:1em;}
.min-alert-bg{margin-top:.3em;padding:.3em .5em;border-radius:.3em;background:#fe9d9d;color:#ca0202;}
.product-more table{margin-top:.5em;width:60%;text-align:center;line-height:2em;}
.product-more tr td{border:1px solid #eee;}
.product-more th{background:#eee;}
.aboutus p{padding:0!important;font-size:1em!important;}
.icon-filter-select{color:red;}
.c_a{display:inline-block;margin:0 5px;width:12px;height:12px;background:url(../images/public/sort_arrow.png) no-repeat right center;}
.up{margin-right:0;background-image:url(../images/public/up.png);}
.down{margin-right:0;background-image:url(../images/public/down.png);}
#plus-sign{margin-left:5px;}
.default-input{border:1px solid #ccc;}
.points-box .points-top{padding-top:25px;height:235px;background:url(../images/points/p_bg.jpg) no-repeat;text-align:center;}
.points-box .points-top h4{font-size:46px;}
.points-box .points-top p{margin:0 auto;width:700px;color:#333;font-size:18px;line-height:28px;}
.points-box .points-top b{color:#4f241e;}
.points-box .points-top-pointer{display:inline-block;width:327px;height:59px;background:url(../images/points/p_btn.png) no-repeat;color:#fff;font-size:20px;line-height:59px;}
.points-box .points-content{padding:25px;background:#ffc30b;}
.points-box .points-content h4{color:#4f241e;font-size:22px;line-height:28px;}
.points-box .points-list{margin:0 auto;margin-bottom:15px;padding-top:15px;height:205px;max-width:1024px;background:url(../images/points/p_list.jpg) center no-repeat;text-align:center;}
.points-box .points-list li{float:left;width:33%;background:url(../images/points/bgline.png) right no-repeat;}
.points-box .points-list li:last-child{background:0 0;}
.points-box .points-list .tit{color:#4f241e;font-size:15px;}
.points-box .points-list .p-con-tit{font-size:18px;}
.points-box .points-list p{font-size:12px;}
.points-box .points-list .p-left{padding-left:10%;width:190px;}
.points-box .points-list .p-mid{padding-left:12%;width:190px;}
.points-box .points-list .p-right{padding-left:25%;width:190px;}
.points-msg{padding:25px;border-radius:6px;background:#fff;-webkit-box-shadow:-2px 2px 10px 5px #e4ae0a;-moz-box-shadow:-2px 2px 10px 5px #e4ae0a;box-shadow:-2px 2px 10px 5px #e4ae0a;color:#222;font-size:13px;line-height:24px;}
.p-msg-tit{font-weight:700;font-size:14px;}
.points-box .m-t15{margin-top:15px;}
.points-box .m-b10{margin-bottom:10px;}
.points-box .m-t50{margin-top:50px;}
.points-msg .redcolor{color:#c81715;}
.points-msg .fontsize22{font-size:22px;}
.points-msg .fontsize17{font-size:17px;}
.points-msg .fontsize16{font-size:16px;}
.points-msg .points-img-right{margin-top:20px;margin-bottom:40px;text-align:center;}
.points-msg .points-img-right img{width:100%;height:auto;max-width:839px;}
.hoverblue:hover{color:#0092cd;}
.li-border-none li{border:0!important;}
.see_all_reviews{text-decoration:underline;}
.see_all_reviews:hover{color:#0092cd;}
.account_table img{width:85px;height:85px;}
.maxheigt2{display:-webkit-box;overflow:hidden;height:30px;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.showbig-img{display:none;margin-left:105px;max-width:350px;}
.showbig-img img{display:block;width:100%;height:auto;}
.detail-more-btn{position:fixed;bottom:0;left:0;z-index:999;width:100%;}
.detail-more-btn a{display:block;width:50%;}
.disabled_btn{background:#ccc!important;color:#999!important;}
