@charset "utf-8";
/* CSS Document */
body{font-size: 12px;font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;background: #ddd; position: relative;padding: 0;margin: 0; color: #333;}
ul,li{ list-style:none;}
dl,dt,dd,ul,li,h1,h2,h3,h4,h5,menu,nav,figure,figcaption,header,footer,section,article,aside,p,input,img{ margin:0; padding:0;border: 0;}
form{display: inline-block;padding: 0;margin: 0;}
a{text-decoration: none;color: #333;cursor: pointer;}
a:hover{color: #88b000;}
del{color: #666}
.table { overflow:hidden; border:1px solid #ccc; -moz-border-radius:5px; /* FF1+ */  -webkit-border-radius:5px; /* Saf3-4 */  border-radius:5px;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);}
.clearfix:after{content:"\020"; display: block; height:0; clear:both; visibility:hidden}
.clearfix{zoom:1;}

.normal th{ font-weight: normal!important;}
.clear{ clear:both; height:0; content:" "; overflow:hidden; width:100%;}
.bgcolor{min-width: 320px; margin: 0 auto;max-width:768px;background: #eee;position: relative;overflow: hidden; }
.float-left{float: left}
.float-right{float: right}
.clear-box{height: 20px;line-height: 20px;}
.button{display: inline-block;padding:0 5em;height:2.5em;line-height:2.5em;font-size: 2em;color: #fff;font-weight: bold;margin: 0 auto;border-radius:0.5em;}
.button:hover{ color: #fff}
.spacing{background: #ddd;height:3em;line-height:3em;}
.green-color{color: #88b000}
.a-btn{display: block; position: absolute;padding: 0px 0.8em; font-size: 1.5em;}
.a-btn:hover{color: #88b000;}
.a-block a{display: block!important;}
.radius-btn{font-size: 3.3em; height: 2.2em; line-height:2.2em;width: 2.2em;border-radius:2.5em;text-align:center;border: 1px solid #ccc; display: inline-block;}
.green-btn{background: #88b000; color: #fff; border: 0;}
.green-btn:hover{color: #fff;background: #9ec127;}
.grey-btn{background: #666; color: #fff; border: 0;}
.grey-btn:hover{color: #fff;background: #888;}
.grey-bg{ background-color: #333; filter:alpha(opacity=50); opacity:0.5; z-index:600; position:fixed; width: 100%;height: 100%; top: 0;left: 0;display: none;}
.grey-bg-z{ background-color: #333; filter:alpha(opacity=50); opacity:0.5; z-index:1500; position:fixed; width: 100%;height: 100%; top: 0;left: 0;display: none;}
.long-btn{width: 100%;display: inline-block;height:2.5em;line-height:2.5em;font-size: 2em;color: #fff;font-weight: bold;border-radius:0.5em;text-align: center}
.min-btn{display: inline-block;height:2em;line-height:2em;font-size:1.5em;color: #fff;font-weight: bold;border-radius:0.5em;text-align: center;padding:0.5em 1em;}
.orange-bg{background: #ff6600!important;}
.clickbg:hover{background: #ff6600!important;}
.orange{color: #ff9c00;}
.orange-bg:hover{background: #ff7c25; color: #fff}
.grey-bg-btn{background: #969696; color: #fff;}
.grey{color: #666;}
.grey-bg-btn:hover{background: #a5a5a5;color: #fff;}
.red-bg{background: #ee395a!important;color: #fff!important;}
.red-color{color: #fc747c!important;}
.right-a{position: absolute;right: 0.8em; font-size: 1.4em}
.redborder{border-color:#ff4846!important; }
.greenborder{border-color:#38a72d!important; }
.formtips{color: #ff4846;line-height: 1.5em;}
.icon-time{font-size: 1.2em;}


/*top-bg*/
.top-bg{position: fixed;z-index: 1200;right:0.5em; bottom: 0.5em; color: #fff; font-size: 3em;width:1.6em;height:1.6em;line-height:1.6em;display: block;border:0;background: #88b000;}
.fix-cart{position: fixed;z-index: 1200;left: 0.5em; bottom:0.5em;  color: #fff; font-size: 3em;width:1.6em;height:1.6em;line-height:1.6em;display: block;border:0;background: #88b000;}
.top-bg:hover,.fix-cart:hover{color: #fff;background: #90b60f;}

/* header */
header{ padding:10px 20px;border-bottom: 1px solid #a9a9a9;background: #fff;}
header .menu{float: right;}
header .menu .active{color: #88b000!important;}
header .menu a{margin-left:0.5em; font-size:2.9em; height:1.8em;line-height: 1.8em; text-align: center; width: 1.5em;display: inline-block;color: #666;}
header .menu1{float: right;}
header .a-img{margin-left:0.5em; font-size:2.9em; height:1.8em;line-height: 1.8em; text-align: center; width: 1.5em;display: inline-block}
header .menu2  .logo{float:left; margin-left:29%;}
header .icon-search{position: relative;top: -5px;font-size: 2.7em!important;}
header .icon-shopping-cart {position: relative}
header .icon-shopping-cart span{position: absolute;font-size: 14px;font-weight:bold;color: #c20000;top:-15px;}

/* banner */
.banner{position: relative;z-index: 100; }
.banner img{width: 100%;position: relative;z-index: 100;}
.swipe { overflow: hidden;  visibility: hidden;  position: relative;  }
.swipe-wrap {  overflow: hidden; position: relative;}
.swipe-wrap > figure {  float: left; width: 100%;    position: relative; }
.position{ position: absolute; margin-top: -7%;width:100%;max-width:768px;z-index: 100; text-align: center;bottom: 10px;}
.position i{ display: inline-block; width: 8px;  height: 8px;  border-radius:8px;   background: #ddd;   margin: 0 1%; cursor: pointer}
.position i.on{ background: #b7d200;}
.product-bg{background:#fff;}
.product-img{max-width: 450px;margin: 0 auto;  margin-top: 1em;position: relative;}
.product-img img{max-width: 450px; width:100%; overflow: hidden;}


/* banner */
.nav{border-left: 0.8em solid #eee;border-right: 0.8em solid #eee;}
.nav span{display: block;border-right: 0.2em solid #eee;}
.nav a{display: block;text-align:center;float: left;background: #fff; font-size: 1.5em;color: #fff;font-weight: bold;width: 25%;height:70px;line-height:70px;overflow: hidden}
.nav .bg-bule{color:#2eb0bd;}
.nav .bg-green{color:#8bba30;}
.nav .bg-orange{color:#eab640;}
.nav .bg-red{color:#ee395a;}
.nav a:nth-child(4n) span{border-right: 0;}

/* fixed-btn */
.fixed-btn a{display: block;text-align:center;float: left; border-bottom: 1px solid #fff; font-size: 20px;color: #fff;font-weight: bold;width: 50%;height:3em;line-height:3em;}
.fixed-btn a:nth-child(2n) span{border-right: 0;}

/* product-title */
.product-change{margin-bottom: 0.8em;background: #fff;display: block;position: relative; z-index: 601;}
.product-change a{font-size: 1.5em;padding:1em;display: inline-block}
.product-change .sortby .by-info{margin-left: 0.5em;color: #666;font-size: 0.8em;coloaddcartr:#666}
.product-change .sortby-list{position: absolute;background: #fff;left: 0;z-index: 611;font-size: 1.5em;}
.product-change .sortby-list li{ border-bottom: 1px solid #ccc;min-width: 320px;}
.product-change .active a{color:#8bba30}
.filter{position: absolute;right: 0.7em;font-size:2.5em!important; padding-left: 1em;padding-top: 0.4em;cursor: pointer }
.order-filter{position: absolute;right: 0.7em;font-size:1.5em; padding-left: 1em;cursor: pointer }
.icon-align-left{font-size: 1.4em!important;top:0.2em; }

/* product */
.product{background: #eee;padding:0.8em;}
.product .stars{display: none;}
.product .addcart{display: none;}
.product .addcart .del{margin-right: 0.2em;}
.product .title{ font-size: 2em; line-height: 30px; min-height: 30px;padding:0.5em 0 0.5em 1em ;background: #fff;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.product .sort-tit{display: inline-block;top: 0.5em;position: relative}
.product .round-btn{ margin-left: 1.5em; font-size: 1.3em; height: 2.2em; line-height:2.2em;width: 2.2em;border-radius:2.5em;text-align:center;border: 1px solid #ccc; display: inline-block;background: #f1f1f1;}
.product .con-box{background: #fff; text-align: left;border-top: 0.2em solid #ededed;}
.product .product-img{text-align: center;}
.product .product-img img{max-width: 207px;width:100%;overflow: hidden;display: inline-block;}
.product .con-box .product-title{overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical;font-size: 1.5em;margin:5px 0;height: 2.4em;}
.product .con-box .product-cost b{color: #c20000;font-size: 2em;padding-left: 0.8em;}
.product .con-box .product-cost del{color: #777;font-size: 1.3em;margin-left: 10px;}
.product .con-box li {float: left;width: 50%;border-bottom: 0.2em solid #ededed;}
.product .con-box li a { display: block; border-right: 0.2em solid #ededed;  padding: 1em; }
.product .con-box li:nth-child(even) a{border-right:0; }
.product .list-css li{width: 100%;}
.product .list-css .product-img{float: left;}
.product .list-css .stars{display: block;padding-top:0.5em;}
.product .list-css .addcart{display: block;text-align: right;padding-right: 1em;}
.product .list-css li a:first-child{padding: 0.5em;width: 100%;overflow: hidden;}

/* star */
.star{background: url(../images/public/star.png) no-repeat;display: inline-block!important;overflow: hidden;position: relative;vertical-align: middle; margin-right:5px; top: -3px;}
.star-s0,.star-s1,.star-s2,.star-s3,.star-s4,.star-s5{height: 20px;width: 100px}
.star-s5{background-position: 0 -58px}
.star-s4{background-position: -18px -58px}
.star-s3{background-position: -38px -58px}
.star-s2{background-position: -58px -58px}
.star-s1{background-position: -78px -58px}
.star-s0{background-position: -98px -58px}
.cursor-star span{ cursor: pointer; width: 18px;height: 20px; display: inline-block; border: 1px solid #fff;overflow: hidden;}
.form-star{padding-top: 1em; }

/* select */
.select{height: 2.8em;line-height: 2.8em; padding-left: 0.5em;  border: 1px solid #ddd; border-radius: 3px; color: #656565;  width: 25%;}

/*footer*/
footer{border-top: 1px solid #ddd;background: #fff;}
footer .foot-link{font-size:1.8em;line-height: 1.5em;padding: 0.8em;text-align: center;}
footer .foot-link a{color:#656565; margin-right:1em;text-align: center; display: inline-block;}
footer .copyright{height: 4em;line-height: 4em; text-align: center; font-size:1.7em; color: #a9a9a9;border-top: 1px solid #ddd;}
.language{ margin:0.8em;font-size:1.8em; color: #656565;  }
.language a{ color: #656565; margin-right: 1em  }

/* categories-list  */
.categories-list{    font-size:1.8em;background: #fff; border-top: 1px solid #ccc;  }
.categories-list a{display: block; height: 3.5em; line-height: 3.5em;  border-bottom:1px solid #ccc; padding-left:3em; }
.categories-tag{ font-size:1.08em;display: block; height: 3em; overflow: hidden; line-height: 3em;width: 97.5%;  padding-left: 2%; border:1px solid #ccc;border-radius: 0.5em;background: #f7ffe6;margin-bottom: 1em;}
.categories-tag:hover{background: #fff;}
.categories-list  i{float:right; font-size:1.5em; margin-top:0.7em; margin-right:0.8em;color: #666;}
.categories-list div{ padding: 1em 0; padding-left: 2%;}
.categories-list .go{ width: 20%; margin-left: 2%}
.categories-list a:hover{background: #f2ffd9; }
.categories-list .active{background: #f2ffd9;color:#88b000; }
.categories-list .secondary-list{display: none; padding: 0; margin: 0;}
.categories-list .secondary-list a{display:block; background:#fafafa;border-bottom: 1px solid #e6e6e6;padding-left:3em;color: #666; border-left:2px solid #52bde9; }
.categories-list .secondary-list a:last-child{display:block; background:#fafafa;}
.font-blod{ font-weight: bold;}
.height30{height:50px;line-height:50px;background:#eee;}
.led-title{ height: 3.5em; line-height: 3.5em; padding-left:2.6em; font-weight:bold;font-size:1.8em;}

/* login */
.details-banner{background:#7da5c4;height:150px;line-height:150px;font-size:30px;text-align:center;color:#fff;}
.head-title{height:3em;line-height:3em;font-size:2em;font-weight:bold; text-align:center;position:relative;border-bottom: 3px solid #ccc;background:#fff;}
.head-title .register{ position: absolute;right: 10px;font-size:1em;font-weight: normal;color: #0090ff}
.left-btn{font-size:1.8em;position:absolute;left:0px;display: block;padding: 0.3em 0.8em;}
.right-btn{font-size:1.6em;position:absolute;right:0px;display: block;padding: 0.4em 0.8em;}
.cart-info{text-align:center;background:#eee;font-size:1.5em;height:7em; padding-top:50px; color:#999;}
.cart-info .cartimg{font-size:3em;}
.cart-list{background: #fff;border-top: 1px solid #ccc;}
.cart-list .img{ float: left;width: 30%}
.cart-list .img img{width: 100%; overflow: auto}
.cart-list .p-info{ float: right;width: 60%;text-align: left}
.cart-list .p-info b{color: #c20000; font-size: 2.5em;padding:5px 0; display: inline-block}
.cart-list .p-info .p-tit{color: #333;font-size:1.6em;}
.cart-list .p-heart{float: left; color: #666;font-size: 3em;margin-left: 0.5em;}
.cart-list .p-info .del{float: right;font-size: 3.5em;color: #666;}
.cart-list li{padding: 2em 1em; border-bottom: 1px solid #ccc;}
.login-form  {border-bottom:1px solid #ccc;}
.login-form  input{ height:60px; line-height:60px;border-top:1px solid #ccc; padding-left:55px;width:100%;font-size:2em;outline:none;}
.login-form  div{position:relative;}
.login-form i{float:left; position:absolute;left:15px;top:14px; font-size:3em; color:#666;}
.login-box{text-align:center;padding:50px;background: #eee}
.login-box .forgot{border: 1px solid #ccc;padding:0px 20px; border-radius: 5px; color: #666;background: #ccc;}
.quantity{ border: 1px solid #ccc;height:40px;line-height:40px; border-radius: 1em;display: inline-block;float: left}
.quantity input{height:40px; display: inline-block;float: left;width: 3em;font-size: 2.3em;outline: none;text-align: center}
.quantity a{display: block;float: left}
.quantity .minus{ font-size: 2em;padding:0 0.5em;border-right:1px solid #ccc }
.quantity .plus{ font-size: 2em;padding:0 0.5em;border-left:1px solid #ccc}
.total{font-size: 2.5em;padding: 0.5em;border-bottom: 1px solid #ccc;color: #666; }
.total b{float: right;color:#c20000; }

/* pop-filter */
.pop-filter{position: absolute; top:0;left:0;z-index: 2101;width: 100%;}
.pop-filter .cont{ width: 100%;background: #fff;overflow-x: hidden; overflow-y: auto}
.pop-filter .pop-tit{height:2.5em;line-height:2.5em;font-size:2em;font-weight:bold; text-align:center;position:relative; border-bottom:1px solid #ccc;}
.pop-filter .btn-box{text-align: center;padding: 2em 0;}
.pop-filter .filter-list{position: relative;border-right: 1px solid #ccc;width: 50%;}
.pop-filter .filter-box{width:100%; }
.pop-filter .filter-list a{overflow: hidden;}
.pop-filter .second-list{position: absolute;top: 0;left:100%;z-index: 1003;display: none;border-left: 1px solid #ccc;margin-bottom: 4em;}
.pop-filter .second-list{width: 100%;}
.pop-filter .second-list a{width: 100%;}
.pop-filter .second-list a:hover{background: transparent;}
.pop-filter .second-list input { margin-right: 0.51em;width:1.5em;height:1.5em;}
.pop-filter .second-list label{display: block;cursor: pointer;}
.pop-filter .filter-box .second-list li{position: relative;}
.pop-filter .filter-box .second-list .icon-ok{position: absolute;left: 1.6em; top: 1em;}
.pop-filter .checkout-btn{position: absolute;bottom: 0;width: 100%;z-index: 1111;background: #eee;}
.pop-filter .pop-price{z-index: 1;}
.filter-number{background: #f1f1f1;padding: 2em 0 ; text-align: center;}
.filter-number input{ width:30%;height: 3em;border: 1px solid #ccc;font-size: 1.5em;padding-left: 5px;}
.filter-number .spacing{background: #f1f1f1;}
.pop-reviews{z-index: 1003;}
.pop-reviews .cont{padding-bottom:2em; }
.pop-reviews b{margin-right: 10px;}
.pop-filter.close {display: none;}
.pop-filter.open {display: block;}

/* product-info */
.product-info{font-size: 1.6em; padding: 1em;position: relative;background:#fff;}
.product-info h4{}
.product-info .sku{color: #666;margin: 0.5em 0;}
.product-info b{color:#c20000; font-size: 1.7em; }
.product-info .p-heart{text-align:center;color:#fff;background: #ccc;width: 1.5em;height: 1.5em;line-height: 1.7em; border-radius: 1.5em;font-size:2.5em;position: absolute;right:0.5em;bottom: 0.5em; }

.tab-box{background: #eee;padding: 0.8em;}
.change-list .price{float: right; color: #c20000;font-size:1.3em;}
.change-list .t-title{font-weight: bold;color:#88b000;}
.change-list b{position: absolute;left: 0.5em;top: 1.05em;}
.tab-active .active{background:#f2ffd9;color: #333; }
.change-list li:last-child.active{border-bottom-right-radius: 1em;border-bottom-left-radius: 1em; }
.tab-chagne{background: #fff;width: 100%;color: #666;border-radius: 5px;}
.tab-box .long-btn{margin-bottom: 1em;}
.tab-chagne li{padding:1em 0.5em 1em  1.5em; font-size: 2em; border-bottom: 2px solid #eee;position: relative}
.tab-chagne li:last-child{border-bottom: 0;}
.tab-chagne a{display: inline-block;}
.tab-chagne i{position: absolute;right: 1em; font-size: 1em;}
.tab-chagne .p-info{float: right;width: 70%}
.tab-chagne .p-info .p-t{overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical;height: 2.3em;}
.tab-chagne .img{float:left;width: 20%;}
.tab-chagne  .price-total{color: #c20000;}
.tab-chagne  .more-info{background:#f1f1f1;width:1.5em;height:1.5em;line-height: 1.5em;border-radius: 1.5em;color: #666;float: right; font-size: 1.8em;position: absolute;right: 5px;top:5px;z-index: 99}
.tab-chagne  .more-box{border-top: 1px solid #ccc; padding-top:0.5em;margin-top: 1.2em; color: #666;font-size: 0.8em; display: none;width: 100%;overflow: hidden}
.tab-chagne  .long-btn{height: 3em;line-height:3em; width: 50%;font-size: 1em;margin: 1em 0;}
.tab-chagne  .more-box .button{ text-align: center;height: 1.8em;line-height: 1.8em;width: 18%;padding: 0 1em;float: left;font-size: 1.5em; margin-left:2%}

/*form*/
.form{background: #eee;padding: 0.8em;}
.form .form-list{padding:0 1em 1em 1em ; position: relative;background: #fff;font-size: 1.3em; }
.form .form-list li{ border-bottom: 1px solid #eee;padding-top: 1em; }
.form .form-list input{height: 2em;font-size: 1.6em; padding-left: 1%;width: 100%; border: 1px solid #ccc;}
.form .form-list select{height: 2em;font-size: 1.6em; padding-left: 1%;width: 100%; border: 1px solid #ccc;}
.form .form-list textarea{font-size: 1.6em;}
.form .form-list input:focus{border-color:#0090ff;color:#0090ff; }
.form .form-list li:last-child{border-bottom: 0}
.form .form-list li label{display: block;line-height: 2em;font-size: 1.6em;}
.form .form-list .form-info{padding:0.5em 0;color: #888;font-size: 1.2em;}

.details-content{padding:2em;background:#fff;}
.ul-table-list{font-size: 1.6em;}
.ul-table-list li{ padding: 0.5em 0}
.ul-table-list li:nth-child(odd){ background: #f1f1f1}
.span-info-1 { min-width: 150px;display: inline-block; text-align: right; font-weight: bold;padding-right: 8px;}
.tab-title-fixed{position: fixed;z-index: 999;top: 0;background: #fff;}
.tab-title{width: 100%;}
.tab-title .tit-tab{border-left:1px solid #ccc;display: block; float: left;width: 27%;text-align: center;font-weight: normal;}
.tab-title .active{color: #88b000; border-bottom: 3px solid #88b000;}
.details-content .review-tit{line-height: 1.5em;font-size: 2em;height: 1.5em;text-align: center; margin-bottom: 0.5em;}
.reviews-list{font-size: 1.5em;border-top: 1px solid #ccc; padding-bottom: 20px; }
.reviews-list .appraise{position: absolute;right:0;top:0.5em; font-size: 2em;}
.reviews-list .good{color: #dc3c3c; margin-right:0.5em;}
.reviews-list .bad{color: #ccc;}
.reviews-list img{float: left; margin-right: 0.5em;}
.reviews-list .re-info{float: left;}
.reviews-list .stat{font-size: 1.5em;color: #ff9c00; margin: 0.2em 0; }
.reviews-list  .re-cont{margin-top: 0.2em;}
.reviews-list li{border-bottom: 1px solid #ccc; padding:1em 0;position: relative;}
.reviews-list .date{color: #888;}

/*accountbg*/
.accountbg {background: url("../images/public/account.jpg") no-repeat; height:140px;width: 100%;position: relative;border-bottom: 2px solid #eee;}
.user-img{ position: absolute; left: 2em; top: 2em; }
.user-name{color: #333;font-size: 2em; position: absolute; left: 6em; top: 2em;}
.foot-btn{padding: 2em 1em; background: #eee;}
.account-list{border-top: 1px solid #ccc;background:#fff;}
.account-list li{padding: 1em;font-size: 2em;position: relative; border-bottom: 1px solid #ccc;}
.account-list li:hover{background: #f2ffd9;}
.account-list li a{display:block;}
.account-list i{color: #888; position: absolute;right: 0.5em; font-size: 2em;top: 0.8em;}
.account-list .date{color: #666;float: right; margin-right: 1.2em;}
.account-list .order-no{color:#0090ff }
.deal-time{float: right;margin-right: 1.5em;}

/*lodding*/
@keyframes rotate-img{
    from{transform:rotate(0deg)}
    to{transform:rotate(360deg)}
}
@-webkit-keyframes rotate-img{
    from{-webkit-transform:rotate(0deg)}
    to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate-img{
    from{-moz-transform:rotate(0deg)}
    to{-moz-transform:rotate(360deg)}
}
@-ms-keyframes rotate-img{
    from{-ms-transform:rotate(0deg)}
    to{-ms-transform:rotate(360deg)}
}
@-o-keyframes rotate-img{
    from{-o-transform:rotate(0deg)}
    to{-o-transform:rotate(360deg)}
}
.lodding{text-align: center;padding: 20px 0;}
.lodding .radius-btn{background: #a9a9a9;border: 0; color: #eee;font-size: 4em;height: 1.8em; line-height:1.8em;width: 1.8em;border-radius:1.8em;}
.lodding span{
    animation:rotate-img 0.8s linear 0s infinite;
    -webkit-animation:rotate-img 0.8s linear 0s infinite;
    -moz-animation:rotate-img 0.8s linear 0s infinite;
    -ms-animation:rotate-img 0.8s linear 0s infinite;
    -o-animation:rotate-img 0.8s linear 0s infinite;
    font-size: 4em;
}
.loadend{font-size: 2em; font-weight: bold;color: #666;}
/* checkout_menu  */
.checkout_menu{ width: 100%; height:46px; line-height:46px; font-size: 2em; }
.checkout_menu li{ float:left; width:50%; background:#ccc; }
.checkout_menu li a{ text-align:center; color: #666; display:block; position:relative; padding-left: 12px;}
.checkout_menu li.active a{ font-weight:bold; color:#fff; background:#7cba10;}
.checkout_menu li a::after{ margin-right:2px; width:0; height:0; font-size:0; content:""; border:23px solid transparent; border-left:23px solid #d3e6b3; position:absolute; right:-46px; top:0; }
.checkout_menu li.active a::after{ border-left-color:#7cba10; margin-right:0}
.checkout_menu li:last-child a:after{ display:none;}
/* con-title  */
.checkout-btn{border-top: 1px solid #ccc;}
.address-list{}
.alertinfo{ position: fixed;z-index: 1510;font-size: 2em;top: 30%;left: 0;width: 100%;text-align: center;}
.alertinfo span{padding: 1.5em 2em;border-radius:1em;background: #fff;color:#c20000;}

/*query-page*/
.query-page{background: #efefef;position:fixed;top: 0;width: 100%;left: 0;z-index: 1001;overflow-y: auto}
.query-page .input-bg{padding:0.7em;border-bottom: 1px solid #ccc;}
.query-page .query-input {position: relative; border-bottom: 3px solid #ccc;  background: #fff;border: 1px solid #ccc;width: 80%;float: left;}
.query-page .cancel{float: left;width:15%;text-align: center;line-height: 2.5em; font-size: 1.5em;color: #c20000; }
.query-page .query-input .query{height: 1.8em;font-size: 1.5em; margin-left:0.8em; width: 95%;outline: none}
.query-page .query-input{ height: 2.5em;line-height: 2.5em;padding:5px;}
.query-page .query-input form{width: 85%;}
.query-page .query-input span{font-size: 2em;color: #ccc;cursor: pointer; margin-left: 10px;  }
.query-page .query-list li{padding: 1em;font-size: 1.5em;border-bottom: 1px solid#ccc;}
.query-page .query-list a{display: block}
.query-page .local-data h4{padding: 1em;font-size: 1.5em;border-bottom: 1px solid#ccc;}

/*all-categories-page*/
.all-categories-page{
    background: #f2f2f2;
    position: absolute;
    width: 85%;
    -webkit-transform: translateX(-100%);
    -webkit-transition: -webkit-transform .25s ease-out;
    -ms-transform: translateX(-100%);
    -ms-transition: -webkit-transform .25s ease-out;
    transform: translateX(-100%);
    transition: -webkit-transform .25s ease-out;
    top: 0;
    z-index:2000;
    font-size: 1.8em;
    overflow-y: auto
}
.all-categories-page.open {-webkit-transform: translateX(0); -ms-transform: translateX(0);transform: translateX(0);}
.all-categories-page .all-login{background: #fff;padding: 0.7em 0 0.7em 0; }
.all-categories-page .all-login a{display: inline-block; margin-right: 1em;padding-left: 1em;}
.all-categories-page .all-list {border-top: 1px solid #ccc;border-top: 1px solid #ccc;}
.all-categories-page .all-list select{width: 50%}
.all-categories-page .all-list a{display: block;}
.all-categories-page .all-list span{float: right;display: inline-block; margin-right: 1em; color: #7cba10;}
.all-categories-page .all-list li,.all-categories-page .secondary-list li{height: 3.5em;line-height: 3.5em;background: #fff;border-bottom: 1px solid #ccc;padding-left: 1em;}
.icon-arrow-left{position: absolute;right:0.3em;padding:0.2em 0.5em 0.5em 0.5em;font-size: 1.8em; color: #666;}
.all-categories-page .secondary-list{border-top: 1px solid #ccc;}
.all-categories-page h4{height: 3.5em;line-height: 3.5em;border-top: 1px solid #ccc;padding-left: 1em;}
.all-categories-page h4 .icon-remove{float: right;font-size: 1.5em;padding-top: 0.5em;padding-right:1em;cursor: pointer}
.all-categories-page .secondary-list .green-color{background: #faffea}
/*quantity*/
.mypoints{padding: 1em;font-size:1.5em;color: #333;background: #fff;margin:0.5em;border-radius: 5px;}
.mypoints p{margin-bottom: 1em;line-height: 1.5em;}
.mypoints-table{border-collapse: collapse;border-radius: 3px;width: 100%; text-align: center;height: 5em;}
.mypoints-table tr td{border: 1px solid #ccc;}
.mypoints-table tr th{width: 25%;background: #f6f6f6;border: 1px solid #ccc;}
.buy-more{ margin-top: 1em;}

/*confirmation*/
.confirmation{position: fixed;width: 280px;left:50%;padding:10px;top:20%;margin-left:-150px;font-size: 1.5em; background: #fff;border-radius: 0.5em;z-index: 1010;text-align: center}
.confirmation h4{height: 3em;line-height: 3em;}
.confirmation a{display: inline-block;width: 48%;color: #fff;padding: 0.8em 0;}
.confirmation .confirm-btn .yes{}
.confirmation .confirm-btn .no{}


.preloader {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 0;
    color: #fff;
    text-align: center;
    line-height: 100px;
    height: 100px;
    width: 100%;
    opacity: 0;
    font-size: 25px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    background: rgba(0,0,0,0.1);
}
.preloader.visible {
    bottom: 0;
    opacity: 1;
}
.swiper-container {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 10;
}
.swiper-slide {
    height: 100px;
    width: 100%;
    line-height: 100px;
    opacity: 0.2;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
.swiper-slide-visible {
    opacity: 1;
}
.swiper-slide .title {
    font-style: italic;
    font-size: 42px;
}

/* pending-order */
.pending-order{ }
.pending-order li{ border-bottom: 1px dashed #ccc; padding: 1em 0; padding-left: 2em}
.pending-order li span{ display: inline-block; width:8em; text-align: right; color: #888; padding-right: 0.5em;}
.pending-order li span.bulecolor{display: inline; color: #0191cd}
.pending-order i{display: inline-block;width: 2em; height: 2em; float: right; margin-top: 3em; margin-right: 1.5em;}
.pending span{ display: inline-block; width: 10em; text-align: right; color: #333; padding-right: 0.5em;font-weight: bold}
.pending {width:100%; border-collapse:collapse;font-size: 1.2em;}
.pending td{ padding-left: 5px;padding: 0.3em 0;}
.pending tr:nth-child(odd){ background: #f1f1f1;}
.title-tab{ background: #f5f5f5; border-top: 1px solid #d2d2d2; margin: 1em 0;height: 2.8em; line-height: 2.8em;font-size: 1.2em; padding-left: 1em;}
.title-tab i{height: 2em; width: 2em; float: right; margin-right: 1em;}
.select-check{background: #fff; border: 1px solid #ccc; border-radius: 5px;padding: 1em;}
#edit_billing_address{background: #ccc; padding:0.5em 1em;;border-radius: 5px; display: inline-block;}
.msg-info{background: #fff;font-size: 2em;text-align: center;padding: 1em 0;border-top: 1px solid #ddd;display: none;}




