@charset "utf-8";
/* public */
body{ margin:0; font-size:12px; line-height:1.4; font-family:Arial; color:#333; background:#fff;}
ul,li{ list-style:none;}
menu,nav,figure,figcaption,header,footer,section,article{ display:block}
dl,dt,dd,ul,li,h1,h2,h3,h4,h5,menu,nav,figure,figcaption,header,footer,section,article,aside,p{ margin:0; padding:0;}
a{ color:#333; text-decoration:none;}
a:hover{ text-decoration:none; color:#009ad9;}
input,textarea{ font-family:Arial; color:#333;}
a:hover img{ opacity:0.9;}
a img{ border:none;}
.green{color: #7cba10}
.gray{color: #797979}
.bold{ font-weight:bold;}
.blue{ color:#0092cd!important; text-decoration: underline}
.on-blue a{ color:#0092cd!important;}
.blue:hover{ color:#00b5ff!important; text-decoration: underline}
.left{ float:left;}
.right{ float:right;}
.clearfix:after{content:"\020"; display: block; height:0; clear:both; visibility:hidden}
.clearfix{zoom:1;}
.clear{ clear:both; height:0; content:" "; overflow:hidden; width:100%;}
.green{ color:#68a500;}
.black{ color:#000;}
.font13{ font-size:13px;}
.font14{ font-size:14px;}
.font15{ font-size:15px;}
.font16{ font-size:16px;}
.font20{ font-size:20px;}
.font24{ font-size:24px;}
.font36{ font-size:36px;}
.yellow{ color:#ff7700;}
.gray{ color:#999;}
.gray a{ color:#999;}
.mr_5{ margin-right:5px;}
.ml_10{ margin-left:10px;}
.ml_450{ margin-left:450px;}
.mt_20{ margin-top:20px;}
.mb_20{margin-bottom:20px;}
.hide{display: none}
.m_t10{margin-top:10px;}
.img400{width:400px;height:400px;}
.inline{display: inline}
.text-c{text-align: center;}
/* public */
.wrap{max-width: 1200px; width: 100%; margin: 0 auto; min-width: 800px}
.head{padding:15px 0 ; }
.head .serch{float: right; border: 1px solid #d7d7d7; margin-top: 25px;padding: 5px;border-radius: 2px;width: 25%}
.head .serchbtn{background: url("../images/public/serch.jpg") no-repeat; width: 26px;height: 23px;float: right}
.head .serch .serchinp{width: 20%;height: 20px;width: 80%;outline: none; float: left;}
.head .serch input{border: 0;cursor: pointer;outline: none}
.nav{color: #fff; font-size: 17px;background: #63bc0d; width: 100%;overflow: hidden;border-radius: 5px;}
.nav li{float: left; border-right: 1px solid #92d056;height:45px;}
.nav li a{padding:10px 50px;color: #fff;cursor: pointer; display: block; border-right: 1px solid #54a109;position:relative;}
.nav li a:hover{color: #fff;background: #5da716 }
.nav li.active a{color: #fff;background: #5da716 }
.nav-apl{position:absolute; width:180px;;background:#fff;z-index:1003;border:1px solid #ccc;margin-left:-2px;margin-top:1px;border-top:0; display:none;}
.nav-apl a{border:0!important;color:#333!important;border-bottom:1px solid #f1f1f1!important;font-size:12px;}
.nav-apl a:hover{color: #63bc0d!important;background: #f9f9f9!important;}
.nav-apl-link{position:absolute; width:180px;background:#fff;z-index:1003;border:1px solid #ccc;margin-left:179px;margin-top:1px; padding:5px 0;display:none;}
.nav-apl-link  b{color:#63bc0d; font-size:14px;padding:5px 10px;}
.nav-apl-link a{border:0!important;color:#333!important;font-size:12px;padding:5px 10px!important;}
.nav-apl-link a:hover{color: #0092cd!important;background: #fff!important;}
.nav-apl-link .nav-box{display:none;}

.banner{margin-top: 20px;max-height: 350px; overflow: hidden;width: 100%!important;}
.clearfix:after{content:"\020"; display: block; height:0; clear:both; visibility:hidden}
.clearfix{zoom:1;}
.clear{ clear:both; height:0; content:" "; overflow:hidden; width:100%;}

/* min-nav */
.min-nav{background: #f4f4f4; height: 30px;line-height: 30px; padding-left: 15px; border-radius: 5px;}
.min-nav a{ margin: 0 10px;}
.min-nav  .home{display: inline-block;width: 14px; height: 12px; background: url("../images/public/nav_home.png") no-repeat;overflow: hidden}
.guideline ,.faq-article{margin-top: 20px;}
.guideline .g-nav ,.faq-article .g-nav  { width:202px; float: left;}
.guideline .g-nav li{position: relative; cursor: pointer}
.guideline .g-nav li .g-tit {display: block; width:180px; border-collapse:collapse;height: 40px;line-height: 40px; padding-left: 20px; border-left: 1px solid #d7d7d7; border-top: 1px solid #d7d7d7; border-right: 1px solid #d7d7d7;background: #f4f4f4; font-size: 16px; font-weight: bold;}
.guideline .g-nav .tabli{border-bottom: 1px solid #d7d7d7;}
.guideline .g-content , .faq-article .g-content{ margin-left: 222px;}
.guideline .active-tab a{border-color: #009ad9!important;color: #009ad9;background: #fff!important;border-right: 1px solid #fff!important;}
.guideline .active-tab{border-color: #009ad9!important;box-shadow:3px 3px 8px #ccc;}
.guideline .content-tab{ position: absolute; background: #fff;padding:20px; border: 1px solid #009ad9;margin-left: 200px;margin-top: -200px;width:900px; z-index: 1; display: none;box-shadow:3px 3px 8px #ccc;}
.guideline .content-tab ul{float: left;margin-bottom: 20px;width:180px; overflow: hidden;}
.guideline .content-tab ul b{display:block; margin-bottom: 8px; }
.guideline .content-tab ul a{line-height: 20px;color: #333;}
.guideline .content-tab ul a:hover{color: #009ad9; text-decoration: underline}
.guideline .active-tab .white-side{position: absolute;width: 10px;height: 40px;line-height:40px;border-right: 2px solid #fff;right:0px;z-index: 1001; margin-top: 1px; margin-right: -2px; background: #fff; }
.g-content h4{ font-size: 26px; height: 36px; line-height: 36px; font-weight: normal; margin-top:20px; }
.g-content h5{ font-size: 14px; height: 24px; line-height: 24px;color: #7cba10;margin: 6px 0;}
.g-content p{line-height: 19px; color: #000;margin:10px 0;}
.faq-article .g-nav li .g-tit{ font-size: 12px!important;display: block; width:177px; border-collapse:collapse;height: 30px;line-height: 30px; padding-left: 25px;border-top: 1px solid #d7d7d7;background: #f4f4f4; font-weight: bold;}
.faq-article .g-nav{ border: 1px solid #63bc0d}
.faq-article .green-title{ font-size: 16px;color: #fff;height: 40px;line-height: 40px;padding-left: 20px; background: #63bc0d}
.g-content .faq-list div{color: #333;line-height: 30px; height: 30px; font-size: 16px; font-weight: bold;margin:15px 0  0 0;}
.g-content .faq-list {color: #797979; line-height: 20px;}
.g-content .faq-list li{ border-bottom: 1px dashed #d7d7d7; padding-bottom: 15px;}
.g-content .faq-list a{color: #009ad9; text-decoration: underline}


/* appli */
.appli .g-nav li{position: relative}
.appli .g-nav  .imgs{background:  url("../images/public/hide.png") center #f4f4f4  no-repeat ; display: block; width: 25px ; height: 30px; cursor: pointer; position: absolute;border-top: 1px solid #d7d7d7; left: 0;}
.appli .g-nav  .active .imgs{background:  url("../images/public/show.png")  #f4f4f4 center no-repeat!important ; }
.appli .appli-link span{ display: block; padding-left: 40px;line-height: 24px;}
.appli .appli-link {margin: 10px 0; display: none}
.appli .appli-link a:hover{text-decoration: underline; color:#009ad9 }
.appli .applications-list  .img-list li{ float: left; margin-bottom: 20px; margin-right: 35px;position: relative;z-index: 10;height: 220px; cursor: pointer;width: 471px;}
.appli .applications-list  .img-list li:nth-child(2n){margin-right:0!important;}
.appli .applications-list  .img-list li img{border-radius: 10px;}
.appli .applications-list  .img-list .title-bg{width:100%;position: absolute;bottom: 0;left: 0; background: #e4e5f2;height: 30px; line-height: 30px;border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;
    filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
    -moz-opacity:0.5; /*Firefox私有，透明度50%*/
    opacity:0.5;/*其他，透明度50%*/
}
.appli .applications-list .img-list{margin-top: 20px;}
.appli .applications-list .img-list .active .title{display: none!important;}
.appli .applications-list .img-list .active .title-bg{height: 100%;background: #fff;
    filter:alpha(opacity=70); /*IE滤镜，透明度50%*/
    -moz-opacity:0.7; /*Firefox私有，透明度50%*/
    opacity:0.7;/*其他，透明度50%*/
}
.appli .applications-list .img-list .active .img-info {display: block}
.appli .applications-list .title{font-size: 13px; font-weight: bold;height: 30px; line-height: 30px;text-align: center;position: absolute;bottom: 0;width: 100%;left: 0;}
.img-info{text-align: left;position: absolute; top: 0; padding:20px 30px 0 30px; line-height: 20px; color: #333; font-size: 13px; display: none;left: 0;}
.img-info h4{font-size: 17px;}

/* info-banner */
.info-banner{ border: 1px solid #d7d7d7; margin-bottom: 20px;max-width: 100%;overflow: hidden}
.info-banner .info{ float:left;width:44%; line-height: 23px;padding: 12px 15px 0 15px; }
.info-banner .info h4{ font-size: 20px; color: #333;}
.info-banner .img{float: right;width: 50%;height: 188px;}
.info-banner .img img{height: auto; width: 100%;}

/* propage */
.propage{ text-align:center; background:#f6f6f6; overflow:hidden; line-height:24px; padding:10px 10px 5px;z-index: -1; margin-top: 15px;}
.propage a{ margin:0 3px 5px 0; background:#fff; border:1px solid #e5e5e5; display:inline-block; padding:0 10px; cursor: pointer }
.propage b {margin: 0 10px;}
.propage a:hover,.propage a.active{ background:#f2ffd9; border-color:#abdf50; color:#abdf50; font-weight:bold; text-decoration:none;}

/* content */
.content .con-info{ width: 68%; float: left}
.content .more{float: right; background: #00b0e8; border-radius: 5px; margin-top: 10px; font-size: 12px; display: inline-block; overflow: hidden; height: 24px;line-height: 24px; padding:0 10px;color: #fff;}
.content .more:hover{ background: #34c7f6;}
.content .blos{margin-top: 20px;}
.content .blos  ul li img{max-width: 100%;height: auto;}
.content .blos  ul li{ border-bottom: 1px dashed #d7d7d7; padding: 20px 0;}
.content .blos  .img{width: 20%; }
.content .blos  ul li .cont{ float: right; width:79%; line-height: 20px;}
.content .blos  ul li .cont p{display: block;overflow: hidden;height:40px;}
.content .latest  ul li img{max-width: 100%;}
.content .latest  ul li{ border-bottom: 1px dashed #d7d7d7; padding: 20px 0;}
.content .latest  ul li .img{width: 53%}
.content .latest  ul li .cont{ float: right; width:46%; line-height: 20px;}
.content .latest  ul li .cont p{display: block;overflow: hidden;}
.title-green{ font-size: 22px; color: #2b2b2b ;line-height: 40px; border-bottom: 1px solid #d7d7d7; font-weight: normal;}
.title-green span{border-bottom: 2px solid #63bc0d;display: inline-block; }


/* faq */
.faq{ float: right; width:30%;}
.faq ul{margin-top: 10px;}
.faq ul li{ border: 1px solid #dcdcdc; margin-top:3px; color: #2b2b2b;cursor: pointer; }
.faq ul li .faq-title{padding:8px;padding-left: 20px;background: url("../images/public/right1.jpg") 7px 10px no-repeat;}
.faq ul li.active .faq-title{font-weight:bold; border-bottom: 1px #dcdcdc solid;background: url("../images/public/right2.jpg") 7px 10px no-repeat #f4f4f4;}
.faq ul li.active .faq-info{display: block;}
.faq ul li .faq-info{padding: 10px; display: none}

.featured{ margin: 20px 0 20px 0;}
.featured .f-img{ padding: 10px  0; cursor: pointer}
.featured .f-img .img{float: left; margin-right: 0.8%;width: 32.5%}
.featured .f-img .img img{max-width: 100%;}
.faq-article .fc_active{ color:#009ad9}

/* footer */
.foot{ background:#f2f2f2; width: 100%;overflow: hidden;margin-top: 20px;}
.footer_on{ padding:20px 0; border-bottom:1px solid #ddd; margin:10px 0;}
.footer_under{ padding-bottom:20px; padding-top:20px;}
.on_left{ position:relative; width:35%; padding-right:2%;}
.on_left .l{ position:absolute; left:0; top:0; color:#000;}
.on_left .link{ margin-left:90px;}
.on_left .link a{ display:inline-block; margin:0 10px 10px;}
.on_right{ width:60%; padding:0;}
.on_right .link a{ border-radius:3px; border:1px solid #d3d3d3; padding:0 10px; margin:0 5px 4px 0; background:#fff; line-height:1.7; color:#333;}
.on_right .link a:hover{ background-color:#87c31f; color:#fff;}
.under_left{ width:70%; float:left;}
.under_left ul{ width:25%; float:left;}
.under_left li{ margin-bottom:10px;}
.joinpic{ padding:10px 0;}
.joinpic img{ display:inline-block; margin-right:1%;}
.under_right{ width:30%;}
.under_right .emailadd{ margin-top:5px; width:100%;}
.under_right p{ line-height:2;}
.suport{ text-align:center; padding:16px 0 40px; color:#666; overflow: hidden}
.suport_img img{ display:inline-block; margin:0 2px 0; vertical-align:middle;}
.indexcounter{ margin:2px 0 0 10px;}
.cntSeparator{ font-size:25px; margin:0 5px; color:#000; line-height:34px;}
.input_text{ width:100%;}
.input_text input{ border:1px solid #d5d5d5; background:#fff; }
.input_btn{ background:#87c31f; display:block; border:1px solid #87c31f;position:absolute; right:0; top:0;}
.input_btn input{ border:none; background:none; text-indent:1000px; width:33px; height:28px; overflow:hidden;}
.search{ width:33%; position:relative; float:left;padding-right:63px; margin-right: 10px; margin-left: 32px;}
.searchInput{ height:36px; line-height:36px; float:left;}
.searchInput input{ height:100%; width:100%; text-indent:10px;}
.searchbtn{ width:59px; height:38px; overflow:hidden;}
.searchbtn input{ width:33px; height:28px; margin:5px 0 0 12px; cursor:pointer;}
.emailadd{ float:left; width:183px; margin-top:-3px; margin-right:10px;}
.emailaddtit{ display:block; color:#333; font-size:12px; text-transform:capitalize; margin-bottom:1px;}
.emailadd_search{ position:relative; padding-right:35px;}
.emailaddInput{ margin-right:40px; width:100%;}
.emailaddInput input{ line-height:17px; height:17px; padding:3px; width:100%; text-indent:6px;}
.emailaddbtn input{ cursor:pointer; width:25px; height:23px;}
.under_right .emailadd_search{ padding-right:100px; }
.under_right .emailaddInput{ margin-right:95px;}
.under_right .emailaddInput input{ background:#fff; border-color:#87c31f; box-shadow:none; height:24px; }
.under_right .emailaddbtn,.under_right .emailaddbtn input{ height:30px; line-height:30px;}
.under_right .emailaddbtn input{ width:90px; text-indent:0; color:#fff; font-weight:bold; text-transform:capitalize; background:none; text-align:center;}

@media screen and (min-width:0) and (max-width:1050px){
    .nav li a{padding:12px 30px;}
    .content .blos  ul li .cont p{display: block;overflow: hidden;height:40px;}
    .content .latest  ul li .cont p{display: block;overflow: hidden;height:80px;}
	.nav-apl{margin-top:-2px;}
	.nav-apl-link{margin-top:-2px;}
}


@media screen and (min-width:0) and (max-width:1050px){
    .banner img{width: 1024px!important;height: auto!important;}
    .example ol{top:-85px;}
}

@media screen and (min-width:0) and (max-width:1200px){
    .applications-article-info{width:50%!important;}
	.article_info .effect_image{ margin-top:0!important;  }
	.app_product{width:100%!important;}
}


/* 方案对应的商品列表*/
.applications-article-info{ margin-left:20px; width:54%;}
.article_info{border: 1px solid #d7d7d7;margin-bottom: 20px;max-width: 100%;overflow: hidden;}
.article_info .effect_image{ text-align:center; margin-top:20px; margin-bottom:20px; }
.article_info .effect_image img{max-width:600px;}
.article_info .info{ margin-left:20px; margin-right:20px; margin-bottom:20px;}
.article_info .info h4{ text-align:center; font-size:18px;}
.app_product{ float:right; width:300px;}
.product-list{ margin-top:20px; margin-bottom:20px;}
.product-list li{ cursor: pointer;width: 300px; margin-top:15px;padding-top:5px;padding-bottom:5px;}
.product-list li:hover{opacity:0.7}
.product-list li img{ display:block; float:left}
.product-list li .pro_detail{ float:left; margin-left:20px;}
.product-list .name{ height:30px; overflow:hidden; width:200px; }

/* guide-other */
.guide-other table{border:1px solid #ccc;}
.guide-other table .p-left{text-align:left;}
.guide-other table tr td{vertical-align:middle; text-align:center;}
.guide-other table p{line-height:20px!important;}
.guide-other table .title-guide{background-color: rgb(204, 204, 204); font-weight:bold;}
.guide-other table .redbg{background:#FFCCFF}
.guide-other h5{color:#555; font-size:15px;}
